##################################################################
# Ansible / Infrastructure
##################################################################

/infrastructure/ansible/inventories/*/hosts.yml
/infrastructure/ansible/inventories/*/group_vars/all.yml
/infrastructure/ansible/inventories/*/group_vars/vault.yml

.ansible
.molecule
.vault_pass

##################################################################
# Compose / Config
##################################################################

/config/**/init-users.conf

##################################################################
# Global rules
##################################################################
.env.infra
microservices.local



# Service-specific environment files
apps/**/.env

# Generated service env files on servers
.env.*
!.env.example
!.env.infra.example

##################################################################
# NestJS / Node.js
##################################################################

# Dependencies
node_modules/
.pnpm-store/

# Build Outputs
dist/
*.tsbuildinfo
.swc/

# Testing
coverage/

# Database & Migrations
.drizzle/

##################################################################
# Logs
##################################################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

##################################################################
# Temporary files
##################################################################
tmp/
temp/
*.tmp
.cache/
__pycache__/
*.pyc

##################################################################
# OS / IDE / Editor
##################################################################
.vscode/
.idea/
.project
.classpath
.settings/
*.swp
*.swo
*.swn
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
